*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    font-family: 'Amatic SC', cursive;
  }
  
  :root {
    --base-color: #8a071d;
    --lighter-base-color: #d9041a;
    --face-color: #73989e;
    --lighter-face-color: #CAE8ED;
    --border-color: #000000; 
  }

  #particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
  }
  
  .body {

    animation-name: spin;
    animation-duration: 25000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    position: relative;
    width: 155px;
    height: 230px;
    background-color: var(--base-color);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    border: 12px solid var(--border-color);
    border-radius: 70px 85px 70px 70px;


  }
  
  .body-light-part {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 95%;
    height: 90%;
    background-color: var(--lighter-base-color);
    transform: rotate(-2deg);
    border-radius: 40% 50% 36% 30%;
  }
  
  .face{ 
    position: absolute;
    right: -20px;
    top: 25px;
    z-index: 2;
    
    background-color: var(--face-color);
    width: 130px;
    height: 90px;
    transform: rotate(-4deg);
  
    border: 12px solid var(--border-color);
    border-radius: 70px 90px 110px 110px;
  }
  
  .face-light-part {
    position: relative;
    width: 94px;
    height: 50px;
    margin: 0px 12px;
    background-color: var(--lighter-face-color);
    border-radius: 30% 40% 55% 50%;
    display: inline-block;
  }
  
  .shimmer {
    position: relative;
    margin: 4px 25px;
    width: 50px;
    height: 20px;
    background-color: white;
    border-radius: 40% 50% 50% 40%;
  }
  
  .backpack{
    position: absolute;
    left: 0;
    top: 65px;
    width: 50px;
    height: 150px;
    transform: translate(-100%);
    
    background-color: var(--base-color);
    border: 12px solid var(--border-color);
    border-radius: 40% 0 0 50%;
  }
  
  .backpack-light-part {
    margin-left: 2px;
    height: 25px;
    width: calc(100% - 2px);
    
    background-color: var(--lighter-base-color);
    
    border-radius: 50% 0 0 20%;
  }
  
  .leg-left-under {
    position: absolute;
    bottom: 0;
    left: -12px;
    
    width: 70px;
    height: 60px;
    
    background-color: var(--base-color);
    border-left: 12px solid var(--border-color);
  }
  
  
  .leg-left {
    position: absolute;
    bottom: 0;
    left: -12px;
    
    width: 65px;
    height: 55px;
    transform: translateY(55px);
    
    background-color: var(--base-color);
    border: 12px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 40% 60%;
  }
  
  .leg-right-under {
    position: absolute;
    bottom: -4px;
    left: 70px;
    
    width: 65px;
    height: 32px;
    
    background-color: var(--base-color);
    border-right: 12px solid var(--border-color);
  }
  
  .leg-right {
    position: absolute;
    bottom: -50px;
    left: 70px;
    
    width: 65px;
    height: 50px;
    
    background-color: var(--base-color);
    border: 12px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 40% 60%;
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
          left: -500px;
      }
      to {
          transform:rotate(360deg);
          left: 3500px;
      }
    }


    .main-content {
      color: #fff;
      text-align: center;
      padding-top: 60px;
    }

    .main-content h1 {
      font-size: 5rem;
      padding: 0 1rem;
    }

    .main-content p {
      font-size: 2rem;
      padding: 0 1rem;
    }
    
.main-containers {
  display: flex;
  max-width: 1500px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  height: 400px;
  flex-wrap: wrap;
}

.map {
  padding: 1rem;
  width: 500px;
  z-index: 10;
  border-radius: 8px;
}

.mapImage {
  text-align: center;
}

.mapImage img {
  width: 500px;
  padding: 40px;
}

@media (max-width: 768px) {

  .main-content {
    padding-top: 20px;
  }
  
  .mapImage img {
    width: 300px;
    padding: 20px 0 60px 0;
  }

  .main-content h1 {
    font-size: 4rem;
  }

  .main-content p {
    font-size: 1.5rem;
    padding-top: .5rem;
  }
}

@media (max-width: 375px) {
  .mapImage img {
    width: 260px;
  }
}